<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle">
  <channel>
    <title>Read the Code updates</title>
    <description>Unpublished release template; not an update feed.</description>
  </channel>
</rss>
